<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB8CCR08rdnMCHliSmuOqGK7Z6k3wK45ZU</string>
	<key>GCM_SENDER_ID</key>
	<string>927797809289</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.newtask</string>
	<key>PROJECT_ID</key>
	<string>interviewtask-c8f32</string>
	<key>STORAGE_BUCKET</key>
	<string>interviewtask-c8f32.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:927797809289:ios:edca8531fcd63bcd3f7658</string>
</dict>
</plist>